//colors
$primaryColor: #9356dc;
$secondartyColor: #ff79da;
$thirdColor: #99e2d0;
$backgroudColor: #f6f6f6;
$backgroudSecondaryColor: #f7f7f7;
$backgroudThirdColor: #eaeaea;
$fontPrimaryColor: #000000;
$fontSecondaryColor: #008766;
$fontTitleColor: #101010;
